<?php
$stripe = Mage::getModel('cryozonic_stripe/standard');
$store = $stripe->getStore();
if ($store->getConfig('payment/cryozonic_stripe/stripe_js'))
{
    $mode = $store->getConfig('payment/cryozonic_stripe/stripe_mode');
    $path = "payment/cryozonic_stripe/stripe_{$mode}_pk";
    $publishableKey = $store->getConfig($path);

    // Also get the customer address when AVS is enabled
    if (Mage::getStoreConfig('payment/cryozonic_stripe/avs'))
    {
        $billingAddress = Mage::helper('cryozonic_stripe')->getBillingAddress();

        if (!empty($billingAddress))
        {
            $address_line1 = $billingAddress['address_line1'];
            $address_zip = $billingAddress['address_zip'];
        }
    }

    // Sanitization
    if (!empty($address_line1))
    {
        $address_line1 = preg_replace("/\r|\n/", " ", $address_line1);
        $address_line1 = addslashes($address_line1);
    }
?>
<script type="text/javascript">
    avs_enabled = <?php echo ($store->getConfig('payment/cryozonic_stripe/avs') ? 'true' : 'false') ?>;
    <?php if (!empty($address_line1)): ?>
    // These are intentionally global variables
    avs_address_line1 = '<?php echo $address_line1; ?>';
    avs_address_zip = '<?php echo $address_zip; ?>';
    <?php endif; ?>
    params3DSecure = <?php echo $stripe->get3DSecureParams(); ?>;
    initStripe('<?php echo $publishableKey; ?>');
</script>
<div id="three_d_secure_container"></div>
<?php } ?>