.account-login-facebook{ width:48%; padding:20px; border:1px solid #ccc; }
.account-login-facebook .fb-login h2 {
	border-bottom: 1px solid #dbdbdb;
    color: #fa3a47;
    font-size: 12px;
    padding: 0 0 15px;
    text-transform: uppercase;
}
button.fb_button.fb_button_medium span {
    min-width: 140px;
}
span.fb_button_text {
	display: block;      
	height: 35px;      
	text-align: center;      
	padding-left: 40px;      
	padding-right: 10px;      
	line-height: 33px;      
	color: white;
	background: url("fblogin/fb.png") no-repeat;
	min-width:140px;
	}
.col-1.new-users li.button {
	min-width: 80px;
	background: none;
	display: block;
	text-align: left;
}	
.fb-seprate{
	margin-top:30px;
}

#connected{
	text-align:center; 
	margin-top:60px;
}

#connected #image{
	margin-bottom:10px;
}