.nav-container {  position: relative;  z-index: 4; margin-top: -26px;}
.sf-menu {
  border: 1px solid #ddd; 
  border-bottom-color:#b0afaf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8'); /*IE6-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8)); /*  webkit */
  background: -moz-linear-gradient(top,  #ffffff,  #f8f8f8); /*firefox 3.6+ */
  background: -o-linear-gradient(top,  #ffffff,  #f8f8f8); /*  Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff,  #f8f8f8); /*  IE10+ */
  box-shadow:0 3px 6px rgba(0,0,0,0.08);
  -moz-box-shadow:0 3px 6px rgba(0,0,0,0.08);
  -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.08);
}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
}
.sf-menu > li {border-right: 1px solid #ddd; z-index: 9;}
.sf-menu li a {
  display: block;
  color: #333333;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: capitalize;
}
.sf-menu > li > a > span {
  display: block;
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
  padding: 18px 20px 19px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f13a"; color: #d3d3d3; font-size: 14px; float: right; margin-right: 10px; line-height: 54px;}
.sf-menu > li.parent > a span {margin-right: 5px;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #f4f4f4;}

.sf-menu > li.sfHover,
.sf-menu > li.parent {z-index: 999;}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 220px;
  display: none;
  background: #fff;
  border-top: 5px solid #515151;
  box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -moz-box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
.sf-menu li li.parent > a:before { content: "\f13a"; font-size: 14px; color:#d3d3d3;  float: right; }
.sf-menu li li:first-child {margin-top: 20px;}
.sf-menu li li.last { margin-bottom: 20px;}
.sf-menu li li {  float: none; z-index: 999; }
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
  padding:4px 20px;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a,
.sf-menu li li > a:hover:before,
.sf-menu li li.sfHover > a:before,
.sf-menu li li.active > a:before {  color: #333333;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 220px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 56px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 222px;
  /* match ul width */
  top: -20px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 222px;
  /* match ul width */
  top: -20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sf-menu > li > a > span {font-size: 13px; font-weight: bold;}
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    display: block;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd; 
    border-bottom-color:#b0afaf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8'); /*IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8)); /*  webkit */
    background: -moz-linear-gradient(top,  #ffffff,  #f8f8f8); /*firefox 3.6+ */
    background: -o-linear-gradient(top,  #ffffff,  #f8f8f8); /*  Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff,  #f8f8f8); /*  IE10+ */
    box-shadow:0 3px 6px rgba(0,0,0,0.08);
    -moz-box-shadow:0 3px 6px rgba(0,0,0,0.08);
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.08);

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 50px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative;   }
  .sf-menu-phone > li { border-bottom: 1px solid #ccc; padding: 10px 20px; font-size: 18px; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #838383;  }
  .sf-menu-phone li a:hover { color: #000; }
  .sf-menu-phone li li {font-size: 13px; padding: 3px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; margin:10px 0 0 0 ;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
}
